{% extends 'base.html' %}
{% block content %}
<h2>Services history</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Services history
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Machine</th>
                    <th>Malfunction report</th>
                    <th>Serviceman</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Machine</th>
                    <th>Malfunction report</th>
                    <th>Serviceman</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </tfoot>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.pk }}</td>
                    <td>{{ service.malfunction_report.machine }}</td>
                    <td><a href="{% url 'malfunctions_reports_detail' service.malfunction_report.pk %}">{{ service.malfunction_report }}</a></td>
                    <td>{{ service.user }}</td>
                    <td>{{ service.datetime }}</td>
                    <td>{{ service.description|slice:"20" }}...</td>
                    <td><a href="{% url 'malfunctions_services_detail' service.pk %}">View raport</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
