{% extends 'maintenance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Report an malfunction</h2>
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <h5>Select machine:</h5>
        {{ form.machine }}
    </div>
    <div class="form-group">
        <h5>Describe malfunction:</h5>
        {{ form.description }}
    </div>
    <div class="form-group">
        <h5>Attach image:</h5>
        {{ form.image }}
    </div>
    <hr>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock %}
