{% extends 'base.html' %}
{% block content %}
<h2>Pending malfunctions</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Malfunctions pending
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fact. no</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Fact. no</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </tfoot>
            <tbody>
            {% for malfunction in malfunctions %}
                <tr>
                    <td>{{ malfunction.pk }}</td>
                    <td>{{ malfunction.machine.factory_number }}</td>
                    <td>{{ malfunction.machine.name }}</td>
                    <td>{{ malfunction.machine.department.name }}</td>
                    <td>{{ malfunction.user }}</td>
                    <td>{{ malfunction.datetime }}</td>
                    <td>{{ malfunction.description|slice:"20" }}...</td>
                    <td><a href="{% url 'malfunctions_reports_detail' malfunction.pk %}" class="btn btn-dark">View</a></td>
                    <td><a href="{% url 'malfunctions_services_add' %}?malfunction={{ malfunction.pk }}" class="btn btn-dark">Report</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
