{% extends 'maintenance/base.html' %}
{% block content %}
<h2>Machine park</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Machine park
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Factory number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Department number</th>
                    <th>Producer</th>
                    <th>Purchase date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Factory number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Department number</th>
                    <th>Producer</th>
                    <th>Purchase date</th>
                    <th>Status</th>
                </tr>
            </tfoot>
            <tbody>
            {% for machine in machines %}
                <tr>
                    <td>{{ machine.pk }}</td>
                    <td>{{ machine.factory_number }}</td>
                    <td>{{ machine.name }}</td>
                    <td>{{ machine.department.name }}</td>
                    <td>{{ machine.number }}</td>
                    <td>{{ machine.producer }}</td>
                    <td>{{ machine.purchase_data }}</td>
                    <td><p class="machine-{{ machine.machine_status }}">{{ machine.machine_status }}</p></td>
                    <td><a href="{% url 'malfunctions_reports_add' %}?machine={{ machine.pk }}">Report</a></td>
                    {% if user.group == "manager" or user.is_superuser %}
                    <td><a href="{% url 'machines_edit' machine.pk %}">Edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
