{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h3> {{user.username }} profile</h3><hr>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table me-1"></i>User information</div>
    <div class="card-body">
        Function: <strong> {{ user.function }}</strong><hr>
        Group: <strong> {{ user.group }}</strong><hr>
        Department: <strong> {{ user.department }}</strong><hr>

    </div>
</div>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table me-1"></i>Change password</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form|crispy }}
            </div>
            <hr>
            <button type="submit" class="btn btn-dark">Change</button>
        </form>
    </div>
</div>

{% endblock %}
