{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Edit user:</h2>
<hr>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table me-1"></i>Edit user</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form|crispy }}
            </div>
            <hr>
            <button type="submit" class="btn btn-dark">Edit</button>
        </form>
    </div>
</div>

{% endblock %}
