{% extends 'base.html' %}
{% block content %}
<h2>Maintenance Report</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Maintenance report for {{ object.schedule }}
    </div>
    <div class="card-body">
        <div><strong>Employee: </strong>{{ object.user }}</div>
        <hr>
        <div><strong>Date: </strong>{{ object.date }}</div>
        <hr>
        <div><strong>Description:</strong></div>
        <div>{{ object.description }}</div>
        <hr>
        <div><strong>Attachements:</strong></div>
        {% if object.image %}
        <img src="{{ object.image.url }}">
        {% else %}
        <p>No image provided</p>
        {% endif %}
    </div>
</div>

{% endblock %}
