{% extends 'maintenance/base.html' %}
{% block content %}
<h2>Maintenance Report</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Maintenance report for {{ report.schedule }}
    </div>
    <div class="card-body">
        <div><strong>Employee: </strong>{{ report.user }}</div>
        <hr>
        <div><strong>Date: </strong>{{ report.date }}</div>
        <hr>
        <div><strong>Description:</strong></div>
        <div>{{ report.description }}</div>
        <hr>
        <div><strong>Attachements:</strong></div>
        <img src="{{ report.image.url }}">
    </div>
</div>

{% endblock %}
