{% extends 'maintenance/base.html' %}
{% block content %}
<h2>Maintenance Reports</h2>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Maintenance reports
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Schedule</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Schedule</th>
                    <th>Description</th>
                </tr>
            </tfoot>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.pk }}</td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.user }}</td>
                    <td>{{ report.schedule }}</td>
                    <td><a href="{% url 'maintenance_reports_detail' report.pk %}">{{ report.description|slice:"20" }}...</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
